In [1]:
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures, StandardScaler, OneHotEncoder

In [2]:
df = pd.read_csv("data.csv")
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

# Data Cleaning

In [3]:
#Dropping columns not necessary for data analysis
df.drop(['Timestamp', 'comments', 'state', 'Country', 'phys_health_interview', 'phys_health_consequence'],
        axis=1, inplace=True)


#Dropping nan values and changing age column to intg.
df.work_interfere.dropna(inplace=True)
df.self_employed.dropna(inplace=True)
df['Age'] = df['Age'].astype(int)

In [4]:
# creating a uniform values for vairous unique gender values

df['Gender'] = df['Gender'].replace({'f':'F'})
df['Gender'] = df['Gender'].replace({'female':'F'})
df['Gender'] = df['Gender'].replace({'Male':'M'})
df['Gender'] = df['Gender'].replace({'male':'M'})
df['Gender'] = df['Gender'].replace({'Female':'F'})
df['Gender'] = df['Gender'].replace({'m':'M'})
df['Gender'] = df['Gender'].replace({'Make':'M'})
df['Gender'] = df['Gender'].replace({'Woman':'F'})
df['Gender'] = df['Gender'].replace({'Man':'M'})
df['Gender'] = df['Gender'].replace({'Femake':'F'})
df['Gender'] = df['Gender'].replace({'Malr':'M'})
df['Gender'] = df['Gender'].replace({'Mail':'M'})
df['Gender'] = df['Gender'].replace({'femail':'F'})
df['Gender'] = df['Gender'].replace({'Female ':'F'})
df['Gender'] = df['Gender'].replace({'Female (trans)':'trans'})
df['Gender'] = df['Gender'].replace({'Trans-female':'trans'})
df['Gender'] = df['Gender'].replace({'Trans woman':'trans'})
df['Gender'] = df['Gender'].replace({'Cis Male':'M'})
df['Gender'] = df['Gender'].replace({'Cis Male':'M'})
df['Gender'] = df['Gender'].replace({'cis-female/femme':'F'})
df['Gender'] = df['Gender'].replace({'cis male':'M'})
df['Gender'] = df['Gender'].replace({'Cis Man':'M'})
df['Gender'] = df['Gender'].replace({'maile':'M'}) 
df['Gender'] = df['Gender'].replace({'Mal':'M'})
df['Gender'] = df['Gender'].replace({'Cis Female':'F'})
df['Gender'] = df['Gender'].replace({'woman':'F'})
df['Gender'] = df['Gender'].replace({'Female (cis)':'F'})
df['Gender'] = df['Gender'].replace({'Male ':'M'})
df['Gender'] = df['Gender'].replace({'Male (CIS)':'M'})
df['Gender'] = df['Gender'].replace({'msle':'M'})
df['Gender'] = df['Gender'].replace({'queer/she/they':'queer'})
df['Gender'] = df['Gender'].replace({'queer':'queer'})
df['Gender'] = df['Gender'].replace({'Genderqueer':'queer'})
df['Gender'] = df['Gender'].replace({'fluid':'queer'})
df['Gender'] = df['Gender'].replace({'non-binary':'queer'})
df['Gender'] = df['Gender'].replace({'Androgyne':'queer'})
df['Gender'] = df['Gender'].replace({'male leaning androgynous':'queer'})
df['Gender'] = df['Gender'].replace({'Agender':'queer'})
df['Gender'] = df['Gender'].replace({'something kinda male?':'other'})
df['Gender'] = df['Gender'].replace({'Nah':'other'})
df['Gender'] = df['Gender'].replace({'Agender':'other'})
df['Gender'] = df['Gender'].replace({'Neuter':'other'})
df['Gender'] = df['Gender'].replace({'p':'other'})
df['Gender'] = df['Gender'].replace({'Guy (-ish) ^_^':'other'})
df['Gender'] = df['Gender'].replace({'Male-ish':'other'})
df['Gender'] = df['Gender'].replace({'A little about you':'other'})
df['Gender'] = df['Gender'].replace({'Enby':'other'})
df['Gender'] = df['Gender'].replace({'All':'other'})
df['Gender'] = df['Gender'].replace({'ostensibly male, unsure what that really means':'other'})



df['work_interfere'] = df['work_interfere'].replace({'Sometimes': 'yes'})
df['work_interfere'] = df['work_interfere'].replace({'Often': 'yes'})
df['work_interfere'] = df['work_interfere'].replace({'Rarely': 'no'})
df['work_interfere'] = df['work_interfere'].replace({'Never': 'no' })

In [5]:
#consoldating two employee sizes

df['no_employees'] = df['no_employees'].replace({'1-5':'1-25'})
df['no_employees'] = df['no_employees'].replace({'6-25':'1-25'})

In [6]:
df.self_employed.dropna(axis=0, inplace=True)
#df.self_employed.isna().sum()

In [7]:
#Dropping all null values in df
df.dropna(inplace=True)

In [8]:
#Replacing unique(incorrectly entered age values with 1 in order to change it with the mean after)
for age in df.Age.values:
    if age <= 17 or age >= 80:
        df.Age.replace(age, 1, inplace=True)

In [9]:
#changing ones with the column mean and rounding it in to two 
df['Age'] = df['Age'].replace({1:df.Age.mean()})
df.Age = df.Age.round(2)

In [10]:
df.head()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,wellness_program,seek_help,anonymity,leave,mental_health_consequence,coworkers,supervisor,mental_health_interview,mental_vs_physical,obs_consequence
18,46.0,M,Yes,Yes,No,yes,1-25,Yes,Yes,Yes,...,Yes,Don't know,Yes,Very easy,No,Yes,Yes,No,Yes,Yes
20,29.0,M,No,Yes,Yes,yes,100-500,No,Yes,Yes,...,No,No,No,Somewhat difficult,Maybe,Some of them,Some of them,No,No,No
21,31.0,M,Yes,No,No,no,1-25,Yes,Yes,No,...,No,No,Yes,Somewhat difficult,No,Some of them,Some of them,No,Yes,No
22,46.0,M,No,No,Yes,yes,26-100,Yes,Yes,Yes,...,No,No,Don't know,Don't know,Maybe,Some of them,Yes,No,No,No
23,41.0,M,No,No,Yes,no,More than 1000,No,No,Don't know,...,No,Don't know,Don't know,Don't know,Maybe,No,No,No,Don't know,No

In [11]:
X = df.drop('work_interfere', axis=1)
y = df['work_interfere']

In [12]:
cont = X.select_dtypes(exclude='object')

cat = X.select_dtypes(include='object')

In [13]:
ohe = OneHotEncoder(drop='first')
train = ohe.fit_transform(cat).toarray()
train_df= pd.DataFrame(train, columns=ohe.get_feature_names(cat.columns))
train_df.head(2)

,Gender_M,Gender_other,Gender_queer,Gender_trans,self_employed_Yes,family_history_Yes,treatment_Yes,no_employees_100-500,no_employees_26-100,no_employees_500-1000,...,mental_health_consequence_Yes,coworkers_Some of them,coworkers_Yes,supervisor_Some of them,supervisor_Yes,mental_health_interview_No,mental_health_interview_Yes,mental_vs_physical_No,mental_vs_physical_Yes,obs_consequence_Yes
0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0

In [14]:
train_df.reset_index(inplace=True, drop='first')
cont.reset_index(inplace=True, drop='first')
X = train_df.join(cont)

# Random Forest Classifier

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1000, test_size=0.2)

In [16]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=100, random_state=28, max_depth=5)

forest_model= forest.fit(X_train, y_train)

In [21]:
print(forest_model.score(X_test, y_test).round(2) * 100, "%")

70.0 %

In [18]:
# df_features = pd.DataFrame(X_train.columns)
# df_features['feature_importances'] = forest_model.feature_importances_
# df_features.columns = ['features', 'feature_importances']

# df_features = df_features.sort_values(by='feature_importances', ascending=False)

# df_features.sort_values('features')
# df_features.reset_index(drop='first', inplace=True)