In [2]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.read_csv("data.csv")
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

# Data Cleaning

In [4]:
from clean import clean
df = clean(df)

In [5]:
df.head()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,wellness_program,seek_help,anonymity,leave,mental_health_consequence,coworkers,supervisor,mental_health_interview,mental_vs_physical,obs_consequence
18,46.0,M,Yes,Yes,No,yes,1-25,Yes,Yes,Yes,...,Yes,Don't know,Yes,Very easy,No,Yes,Yes,No,Yes,Yes
20,29.0,M,No,Yes,Yes,yes,100-500,No,Yes,Yes,...,No,No,No,Somewhat difficult,Maybe,Some of them,Some of them,No,No,No
21,31.0,M,Yes,No,No,no,1-25,Yes,Yes,No,...,No,No,Yes,Somewhat difficult,No,Some of them,Some of them,No,Yes,No
22,46.0,M,No,No,Yes,yes,26-100,Yes,Yes,Yes,...,No,No,Don't know,Don't know,Maybe,Some of them,Yes,No,No,No
23,41.0,M,No,No,Yes,no,More than 1000,No,No,Don't know,...,No,Don't know,Don't know,Don't know,Maybe,No,No,No,Don't know,No

In [6]:
X = df.drop('work_interfere', axis=1)
y = df['work_interfere']

In [7]:
from encode import encode
X = encode(X)
X.head()

,Gender_F,Gender_M,Gender_other,Gender_queer,Gender_trans,self_employed_No,self_employed_Yes,family_history_No,family_history_Yes,treatment_No,...,supervisor_Yes,mental_health_interview_Maybe,mental_health_interview_No,mental_health_interview_Yes,mental_vs_physical_Don't know,mental_vs_physical_No,mental_vs_physical_Yes,obs_consequence_No,obs_consequence_Yes,Age
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,46.0
1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,29.0
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,31.0
3,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,46.0
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,41.0

In [13]:
list(X.columns)

['Gender_F',
 'Gender_M',
 'Gender_other',
 'Gender_queer',
 'Gender_trans',
 'self_employed_No',
 'self_employed_Yes',
 'family_history_No',
 'family_history_Yes',
 'treatment_No',
 'treatment_Yes',
 'no_employees_1-25',
 'no_employees_100-500',
 'no_employees_26-100',
 'no_employees_500-1000',
 'no_employees_More than 1000',
 'remote_work_No',
 'remote_work_Yes',
 'tech_company_No',
 'tech_company_Yes',
 "benefits_Don't know",
 'benefits_No',
 'benefits_Yes',
 'care_options_No',
 'care_options_Not sure',
 'care_options_Yes',
 "wellness_program_Don't know",
 'wellness_program_No',
 'wellness_program_Yes',
 "seek_help_Don't know",
 'seek_help_No',
 'seek_help_Yes',
 "anonymity_Don't know",
 'anonymity_No',
 'anonymity_Yes',
 "leave_Don't know",
 'leave_Somewhat difficult',
 'leave_Somewhat easy',
 'leave_Very difficult',
 'leave_Very easy',
 'mental_health_consequence_Maybe',
 'mental_health_consequence_No',
 'mental_health_consequence_Yes',
 'coworkers_No',
 'coworkers_Some of them',
 'coworkers_Yes',
 'supervisor_No',
 'supervisor_Some of them',
 'supervisor_Yes',
 'mental_health_interview_Maybe',
 'mental_health_interview_No',
 'mental_health_interview_Yes',
 "mental_vs_physical_Don't know",
 'mental_vs_physical_No',
 'mental_vs_physical_Yes',
 'obs_consequence_No',
 'obs_consequence_Yes',
 'Age']

# Random Forest Classifier

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1000, test_size=0.2)

In [10]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=100, random_state=28, max_depth=5)

forest_model= forest.fit(X_train, y_train)

In [11]:
print(forest_model.score(X_test, y_test).round(2) * 100, "%")

74.0 %

In [12]:
# df_features = pd.DataFrame(X_train.columns)
# df_features['feature_importances'] = forest_model.feature_importances_
# df_features.columns = ['features', 'feature_importances']

# df_features = df_features.sort_values(by='feature_importances', ascending=False)

# df_features.sort_values('features')
# df_features.reset_index(drop='first', inplace=True)