In [36]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [37]:
df = pd.read_csv("data.csv")
df.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

# Data Cleaning

In [38]:
from clean import clean
df = clean(df)

In [39]:
df.head()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,...,wellness_program,seek_help,anonymity,leave,mental_health_consequence,coworkers,supervisor,mental_health_interview,mental_vs_physical,obs_consequence
18,46.0,M,Yes,Yes,No,yes,1-25,Yes,Yes,Yes,...,Yes,Don't know,Yes,Very easy,No,Yes,Yes,No,Yes,Yes
20,29.0,M,No,Yes,Yes,yes,100-500,No,Yes,Yes,...,No,No,No,Somewhat difficult,Maybe,Some of them,Some of them,No,No,No
21,31.0,M,Yes,No,No,no,1-25,Yes,Yes,No,...,No,No,Yes,Somewhat difficult,No,Some of them,Some of them,No,Yes,No
22,46.0,M,No,No,Yes,yes,26-100,Yes,Yes,Yes,...,No,No,Don't know,Don't know,Maybe,Some of them,Yes,No,No,No
23,41.0,M,No,No,Yes,no,More than 1000,No,No,Don't know,...,No,Don't know,Don't know,Don't know,Maybe,No,No,No,Don't know,No

# Hot Encoding

In [40]:
X = df.drop('work_interfere', axis=1)
y = df['work_interfere']

In [41]:
from encode import encode
X = encode(X)
X.head()

,Gender_F,Gender_M,Gender_other,Gender_queer,Gender_trans,self_employed_No,self_employed_Yes,family_history_No,family_history_Yes,treatment_No,...,supervisor_Yes,mental_health_interview_Maybe,mental_health_interview_No,mental_health_interview_Yes,mental_vs_physical_Don't know,mental_vs_physical_No,mental_vs_physical_Yes,obs_consequence_No,obs_consequence_Yes,Age
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,46.0
1,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,29.0
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,31.0
3,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,46.0
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,41.0

# Finding Corelation

In [55]:
dup_df = df.copy(deep=True)
dup_df["work_interfere"] = dup_df["work_interfere"].replace(["yes"], 1)
dup_df["work_interfere"] = dup_df["work_interfere"].replace(["no"], 0)
corr_matrix = encode(dup_df)
corr_matrix = corr_matrix.corr()
corr_result = corr_matrix["work_interfere"]
corr_result.sort_values(axis=0, ascending=False)

work_interfere                     1.000000
treatment_Yes                      0.392986
family_history_Yes                 0.226243
mental_vs_physical_No              0.133714
leave_Very difficult               0.128897
obs_consequence_Yes                0.121612
seek_help_No                       0.117515
mental_health_consequence_Yes      0.117119
wellness_program_No                0.081177
leave_Somewhat difficult           0.071577
care_options_Yes                   0.067548
benefits_No                        0.061102
Gender_F                           0.059227
self_employed_Yes                  0.058128
mental_health_interview_No         0.055182
Gender_other                       0.054424
anonymity_Yes                      0.047343
no_employees_1-25                  0.040329
remote_work_Yes                    0.036492
coworkers_Some of them             0.033233
no_employees_26-100                0.032192
supervisor_Some of them            0.031141
supervisor_No                      0.029468
anonymity_No                       0.026107
Gender_trans                       0.017896
mental_health_interview_Yes        0.015924
mental_health_consequence_Maybe    0.013349
tech_company_Yes                   0.007159
Gender_queer                       0.002030
leave_Somewhat easy                0.000173
tech_company_No                   -0.007159
coworkers_Yes                     -0.016685
no_employees_More than 1000       -0.020676
benefits_Yes                      -0.021541
care_options_No                   -0.024099
coworkers_No                      -0.024188
wellness_program_Yes              -0.025010
no_employees_100-500              -0.025040
leave_Very easy                   -0.027572
mental_vs_physical_Yes            -0.032891
remote_work_No                    -0.036492
benefits_Don't know               -0.038101
Age                               -0.042468
seek_help_Yes                     -0.043843
care_options_Not sure             -0.050829
supervisor_Yes                    -0.057489
anonymity_Don't know              -0.057836
self_employed_No                  -0.058128
mental_health_interview_Maybe     -0.067818
Gender_M                          -0.072656
no_employees_500-1000             -0.075928
wellness_program_Don't know       -0.082997
seek_help_Don't know              -0.091436
mental_vs_physical_Don't know     -0.092577
leave_Don't know                  -0.100592
obs_consequence_No                -0.121612
mental_health_consequence_No      -0.121778
family_history_No                 -0.226243
treatment_No                      -0.392986
Name: work_interfere, dtype: float64

# Random Forest Classifier

In [50]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1000, test_size=0.2)

In [51]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=100, random_state=28, max_depth=5)

forest_model= forest.fit(X_train, y_train)

In [52]:
print(forest_model.score(X_test, y_test).round(2) * 100, "%")

74.0 %

In [29]:
# df_features = pd.DataFrame(X_train.columns)
# df_features['feature_importances'] = forest_model.feature_importances_
# df_features.columns = ['features', 'feature_importances']

# df_features = df_features.sort_values(by='feature_importances', ascending=False)

# df_features.sort_values('features')
# df_features.reset_index(drop='first', inplace=True)

# Logistic Regression

In [30]:
from sklearn.linear_model import LogisticRegression
logistic_regression = LogisticRegression(max_iter=1000)
logistic_regression_model = logistic_regression.fit(X_train, y_train)

In [31]:
print(logistic_regression_model.score(X_test, y_test).round(2) * 100, "%")

69.0 %