In [1]:
import pickle
import pandas as pd


from constants import COLUMNS
from encode import encode
from clean import clean

In [2]:
df = pd.read_csv("input.csv")
# df.head()

cleaned = clean(df)
cleaned.head()

,Age,Gender,self_employed,family_history,treatment,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,coworkers,supervisor,mental_health_interview,mental_vs_physical,obs_consequence
0,21,M,No,No,No,1-25,Yes,Yes,No,No,Yes,No,Don't know,Somewhat easy,Maybe,Some of them,Yes,No,Yes,No
1,21,M,Yes,No,No,1-25,Yes,Yes,Don't know,No,Don't know,Don't know,Don't know,Don't know,Yes,No,No,No,Don't know,No
2,21,M,No,No,No,26-100,Yes,Yes,No,No,No,Don't know,Don't know,Don't know,No,Yes,Yes,Yes,No,No

In [3]:
encoded = encode(cleaned)
encoded.head()

,Gender_M,self_employed_No,self_employed_Yes,family_history_No,treatment_No,no_employees_1-25,no_employees_26-100,remote_work_Yes,tech_company_Yes,benefits_Don't know,...,coworkers_Yes,supervisor_No,supervisor_Yes,mental_health_interview_No,mental_health_interview_Yes,mental_vs_physical_Don't know,mental_vs_physical_No,mental_vs_physical_Yes,obs_consequence_No,Age
0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,21
1,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,21
2,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,21

In [4]:
final_df = pd.DataFrame([], columns=COLUMNS)
final_df.head()

Empty DataFrame
Columns: [Gender_M, Gender_other, Gender_queer, Gender_trans, self_employed_Yes, family_history_Yes, treatment_Yes, no_employees_100-500, no_employees_26-100, no_employees_500-1000, no_employees_More than 1000, remote_work_Yes, tech_company_Yes, benefits_No, benefits_Yes, care_options_Not sure, care_options_Yes, wellness_program_No, wellness_program_Yes, seek_help_No, seek_help_Yes, anonymity_No, anonymity_Yes, leave_Somewhat difficult, leave_Somewhat easy, leave_Very difficult, leave_Very easy, mental_health_consequence_No, mental_health_consequence_Yes, coworkers_Some of them, coworkers_Yes, supervisor_Some of them, supervisor_Yes, mental_health_interview_No, mental_health_interview_Yes, mental_vs_physical_No, mental_vs_physical_Yes, obs_consequence_Yes, Age]
Index: []

[0 rows x 39 columns]

In [7]:
pd.concat([final_df, encoded], axis=1)

Empty DataFrame
Columns: [Gender_M, Gender_other, Gender_queer, Gender_trans, self_employed_Yes, family_history_Yes, treatment_Yes, no_employees_100-500, no_employees_26-100, no_employees_500-1000, no_employees_More than 1000, remote_work_Yes, tech_company_Yes, benefits_No, benefits_Yes, care_options_Not sure, care_options_Yes, wellness_program_No, wellness_program_Yes, seek_help_No, seek_help_Yes, anonymity_No, anonymity_Yes, leave_Somewhat difficult, leave_Somewhat easy, leave_Very difficult, leave_Very easy, mental_health_consequence_No, mental_health_consequence_Yes, coworkers_Some of them, coworkers_Yes, supervisor_Some of them, supervisor_Yes, mental_health_interview_No, mental_health_interview_Yes, mental_vs_physical_No, mental_vs_physical_Yes, obs_consequence_Yes, Age, Gender_M, self_employed_No, self_employed_Yes, family_history_No, treatment_No, no_employees_1-25, no_employees_26-100, remote_work_Yes, tech_company_Yes, benefits_Don't know, benefits_No, care_options_No, wellness_program_Don't know, wellness_program_No, wellness_program_Yes, seek_help_Don't know, seek_help_No, anonymity_Don't know, leave_Don't know, leave_Somewhat easy, mental_health_consequence_Maybe, mental_health_consequence_No, mental_health_consequence_Yes, coworkers_No, coworkers_Some of them, coworkers_Yes, supervisor_No, supervisor_Yes, mental_health_interview_No, mental_health_interview_Yes, mental_vs_physical_Don't know, mental_vs_physical_No, mental_vs_physical_Yes, obs_consequence_No, Age]
Index: []

[0 rows x 74 columns]